   <div class="container-fluid" style="padding:50px">
    <div class="footer">
      <p>
        <small>
          <a href="https://github.com/spack">&copy; 2021 Spack contributors. We like spack and pancakes.</a>
        </small>
        <small>This catalog is generated automatically by querying Github APIs; the Spack team is not responsible for
        the linked stacks.</small>
        <span style="float:right"><small>Source code: <a
          href="https://github.com/spack/spack-stack-catalog">https://github.com/spack/spack-stack-catalog</a>
        </small></span>
      </p>
    </div>
</div>
