spack:
  specs:
  - hepnos@0.6.2 cxxstd=14 target=x86_64
  - hepnos-dataloader@0.5 target=x86_64
  - mpich~wrapperrpath+argobots pmi=pmi2 device=ch4 netmod=ofi
  - libfabric fabrics=tcp,rxm
  concretization: together
  repos:
  - /hepnos/mochi-spack-packages
  packages:
    all:
      providers:
        mpi:
        - mpich
        # Ignore the libuuid at /lib64 and build util-linux-uuid instead. We will be using theta's lib64 so we lose access to the one at /lib64
        # the spack-built libuuid provides the required symbols, however it missing versioning information (specifically the .gnu.version_d section)
        # This might not cause a crash and since we are not opting for patching the elf object, let us opt for a spack built util-linux-uuid 
        # instead which provides both the symbols and the versions.
        uuid:
        - util-linux-uuid
    boost:
      buildable: false
      externals:
      - spec: boost@1.66.0
        prefix: /cvmfs/nova.opensciencegrid.org/externals/boost/v1_66_0a/Linux64bit+2.6-2.12-e15-prof
    coreutils:
      externals:
      - spec: coreutils@8.4
        prefix: /usr
    findutils:
      externals:
      - spec: findutils@4.4.2
        prefix: /usr
    gettext:
      externals:
      - spec: gettext@0.17
        prefix: /usr
    git:
      buildable: false
      externals:
      - spec: git@2.14.1
        prefix: /cvmfs/nova.opensciencegrid.org/externals/git/v2_14_1/Linux64bit+2.6-2.12
    hdf5:
      buildable: false
      externals:
      - spec: hdf5@1.10.2
        prefix: /cvmfs/nova.opensciencegrid.org/externals/hdf5/v1_10_2a/Linux64bit+2.6-2.12-e15
    mercury:
      variants: +udreg ~boostsys
    pkg-config:
      buildable: false
      externals:
      - spec: pkg-config@0.23.1
        prefix: /usr
    tar:
      buildable: false
      externals:
      - spec: tar@1.23
        prefix: /usr
    texinfo:
      externals:
      - spec: texinfo@4.13
        prefix: /usr
    xz:
      externals:
      - spec: xz@4.999.9beta
        prefix: /usr
    zlib:
      externals:
      - spec: zlib@1.2.3
        prefix: /usr
