<!doctype html>
<html lang="en">

  <head>
  {% include head.html %}
  </head>

  <body>

  <div class="container-fluid">
  <div class="row" style="padding-top:15px; padding-left:50px">
     <div class="col-md-9">
      <a href="{{ site.baseurl }}/" id='logolink' style="color:#104e93">
        <img src="{{ site.baseurl }}/assets/img/spack-stacks-blue.png" style="padding-right:15px"/> {{ site.title }}
    </a>
     </div>
     <div class="col-md-3" style="float:right">
        <a type="button" style="float:right; margin-right:5px" class="button btn-sm btn-primary" href="#" data-toggle="modal" data-target="#rule-popup">About</a>
        <a href="{{ site.baseurl }}/similarity"><img src="{{ site.baseurl }}/assets/img/spack-package-togetherness.png" style="width:300px; float:right; margin-right:200px" title="What packages are found together?"></a>
     </div>
  </div>
  
    {% include scripts.html %}
    <div id="content">
        {{ content }}
    </div>

    {% include footer.html %}
  </div>
  </body>

</html>
